{% extends "shared/layout.jinja" %}
{% import "shared/info.jinja" as info %}

{% block title %}
Order Info
{% endblock %}

{% block body %}

{% set delete_button_id = 'delete-order-button' %}

<div id="order-info-body" class="container-fluid">
  {{ info.create_header('Your Order', edit_link) }}

  {{ info.create_row('Package Name', order.order_title) }}
  {{ info.create_row('Locker Kiosk', order.kiosk) }}
  {% call info.call_row('PIN Number') %}
  <button id="order-pin-number-button" class="btn btn-sm btn-danger">
    Show
  </button>
  <span id="order-pin-number-span" class="d-none">
    {{ order.pin }}
  </span>
  {% endcall %}

  {{ info.create_row('Deliver to', order.address) }}

  {% call info.call_row('Name on package') %}
  {% if order.name %}
  {{ order.name }}
  {% else %}
  <span class="text-muted fst-italic">No name given</span>
  {% endif %}
  {% endcall %}

  {{ info.create_row('Status', order.order_status) }}

  {{ info.create_delete_button(delete_button_id) }}
</div>

<script>
  const DELETE_URL = '{{ url_for("edit_order", order_id=order.order_id) }}';
  const ORDERS_URL = '{{ url_for("orders") }}';

  $(document).ready(() => {
    const pinElement = $('#order-pin-number-span');
    const buttonElement = $('#order-pin-number-button');
    showHidePinNumber(pinElement, buttonElement);

    $('#{{ delete_button_id }}').click((event) => {
      ajaxRequest('DELETE', DELETE_URL, {
        success: () => {
          location.assign(ORDERS_URL);
        },
      });
    });
  });
</script>
{% endblock %}
