{% extends "shared/layout.jinja" %}
{% import "shared/info.jinja" as info %}

{% block title %}
Order Info
{% endblock %}

{% block body %}
<div id="order-info-body" class="container-fluid">
  {{ info.create_header('Your Order', edit_link) }}

  {{ info.create_row('Package Name', order.order_title) }}
  {{ info.create_row('Locker Kiosk', order.kiosk) }}
  {% call info.call_row('PIN Number') %}
  <button id="order-pin-number-button" class="btn btn-sm btn-danger">
    Show
  </button>
  <span id="order-pin-number" class="d-none">
    {{ order.pin }}
  </span>
  {% endcall %}

  {{ info.create_row('Deliver to', order.address) }}

  {% call info.call_row('Name on package') %}
  {% if order.name %}
  {{ order.name }}
  {% else %}
  <span class="text-muted fst-italic">No name given</span>
  {% endif %}
  {% endcall %}

  {{ info.create_row('Status', order.order_status) }}

  {{ info.create_delete_button(
       url_for('delete_order', order_id=order.order_id) )
  }}
</div>

<script>
  $(document).ready(function () {
    // show and hide pin number
    let showing = false;
    const pinElement = $('#order-pin-number');
    const button = $('#order-pin-number-button');
    button.click((event) => {
      pinElement.toggleClass('d-none');
      button.html(showing ? 'Hide' : 'Show');
      showing = !showing;
    });
  });
</script>
{% endblock %}
