{% set left_col = 'col-sm-2' %}

{% macro create_header(title, edit_link=none) %}
<div class="row">
  <h2 class="col">{{ title }}</h2>
  {% if edit_link %}
  <div class="col-auto">
    <a type="button" class="btn btn-success" href="{{ edit_link }}">
      Edit
    </a>
  </div>
  {% endif %}
</div>
{% endmacro %}

{# create custom row with `call` #}
{% macro call_row(label) %}
<div class="row mb-2">
  <div class="{{ left_col }} info-label">
    {{ label }}
  </div>
  <div class="col">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro create_row(label, value) %}
{% call call_row(label) %}
{{ value }}
{% endcall %}
{% endmacro %}

{% macro create_delete_button(url) %}
<div class="row justify-content-end">
  <div class="col-auto">
    <a type="button" class="btn btn-danger" href="{{ url }}">
      Delete
    </a>
  </div>
</div>
{% endmacro %}
