{% extends "shared/layout.jinja" %}

{% block title %}
History
{% endblock %}

{% block body %}
<div id="orders-body" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>History</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Your order history is empty.
    </div>
  </div>
</div>
{% endblock %}
