{% extends "shared/layout.jinja" %}
{% import "shared/forms.jinja" as forms %}

{% block title %}
Profile
{% endblock %}

{% block body %}

{% set form_id = 'profile-form' %}

<div id="profile-body" class="container-fluid">
  {{ forms.create_header('Profile', form.submit, form_id) }}

  <form
    id="{{ form_id }}"
    action="{{ endpoint }}"
    method="post"
    novalidate
  >
    {{ form.csrf_token }}

    {{ forms.create_row(form.address) }}
    {{ forms.create_row(form.name) }}
  </form>

  {% if profile.does_delivery %}
  <br />
  <div class="row">
    <div class="col">
      You are able to make deliveries.
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
