{% extends "shared/layout.jinja" %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div id="orders-body" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Profile</h2>
    </div>
  </div>
  {# name on package, dorm room, other settings #}
</div>
{% endblock %}
